.Header {
    width: 100%;
    z-index: 999;
    background-color: @Gray03;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;

    .HeaderBox {
        width: 1220px;
        height: 72px;
        align-items: center;
        display: flex;
        justify-content: space-between;

        .Header-menu-alt{
            position: relative;
            display: none;
        }

        .Header-menu {
            width: 336px;
            height: 44px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .Logo {
            margin-left: 29px;
        }
    }
}

.scrolled {
    box-shadow: 0px 5px 5px 0px #A4ADAC40;
}



@media screen and (max-width: 1220px) {
    .Header{
        padding-top: 5px;
        .HeaderBox{
            .Header-menu-alt{
                display: block;
            }
            .Header-menu {
                display: none;
            }
            
        }
    }
    .scrolled {
        box-shadow: 0px 5px 5px 0px #A4ADAC40; 
        background-color: @Gray03;
    }
}