.MainPage {
    width: 100%;
    background-color: @Gray03;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // gap: 180px;
    overflow: hidden;
    position: relative;
    .BG{
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 1000px;
        top:72px;

        img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        user-select: none;
        opacity: 0.6;
        }
    }
    .contentSection {
        z-index: 2;
        margin-top: 104px;
        width: 100%;
        padding-top: 180px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;

        .Main {
            width: 1220px;
            padding: 0 10px;
            .TextBtn {
                width: 1160px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: space-around;
                gap: 80px;
            }
            .Text2 {
                display: block;
                width: 626px;
                font-weight: 400;
            }
        }
    }

    .contentSection2 {
        z-index: 3;
        padding-top: 180px;
        padding-bottom: 60px;
        width: 1220px;
        height: 452px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        .Left{
            width: 460px;
            
        }

        .Right{
            display: flex;
            flex-direction: column;
            gap: 32px;
            .RightText{

                width: 560px;
                opacity: 1;
                transition: opacity 0.5s ease-in-out;
            
            }
            .RightText.hidden {
                opacity: 0;
                z-index: -1;
            }
        }
    }

    .contentSection3 {
        background-color: @Gray04;
        width: 100%;
        padding: 120px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        h2{
            text-align: center;
            width: 100%;
            margin-bottom: 80px;
        }
        .Main{
            width: 1160px;
            display: flex;
            justify-content: space-between;
            .Side{
                width: 300px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 32px;
            }
            .Center{
                display: flex;
                width: auto;
                justify-content: center;
                align-items: center;
            }

        }
    }

    .contentSection4 {
        padding: 80px 10px;
        width: 1220px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .Partners{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 70.78px;
            width: 632.51px;
            img{
                width: auto;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .contentSection5 {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 80px 0;
        background-color: @Gray04;
        .Center{
            width: 1220px;
            display: flex;
            position: relative;
            .Left{
                display: flex;
                flex-direction: column;
                gap: 80px;
                .Text{
                    width: 497px;
                    display: flex;
                    gap: 32px;
                    flex-direction: column;
                    div{
                        display: flex;
                        gap: 16px;
                    }
                }
                
            }

        }
        img{
            width: auto;
            height: 482px;
            position: absolute;
            right: -30px;
        }
    }

    .contentSection6{
        width: 1220px;
        display:flex;
        justify-content: center;
        padding: 80px 0 180px 0;
        .Section{
            width: 1160px;
            display: flex;
            flex-direction: column;
            gap: 64px;
            .BackFormVidget{
                display: flex;
                flex-direction: row;
                gap: 40px;
                .Left{
                    width: 560px;
                }
                .Right{
                    display: flex;
                    flex-direction: column;
                    gap: 48px;
                    width: 560px;
                    height: 216px;
                    .PDN{
                        display: flex;
                        width: 560px;
                        span{
                            width: 438px;
                            margin-left: 5px;
                            a{
                                color: @Black
                            }
                            
                        }
                        .CheckBox{
                            padding-top: 2px;
                        }
                    }

                    .button{
                        width: 100%;
                    }
                }

            }
        }
    }
}

