.MainPageBox{
    background-color: @Gray03;
    width: 100%;
    height: 3392px;
    .BG{
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 801px;
        top:67px;

        img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        user-select: none;
        opacity: 0.6;
        }
    }
    .BG-rect{
        z-index: 1;
        position: absolute;
        left: 0;
        background-color: @Gray04;
        width: 100%;
        height: 647px;
    }
    .one{
        top: 1110px;
    }
    .two{
        top: 2074px;
    }
}

.MainPage {
    width: 100%;
    top: 32px;
    height: 3148px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 180px;
    overflow: hidden;
    position: relative;
    .contentSection {
        z-index: 4;
        width: 100%; 
        margin-top: 200px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;

        .Main {
            display: flex;
            width: 1220px;
            padding: 0 30px;
            .TextBtn {
                width: 100%;
                height: 440px;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 80px;
                .Text{
                    display: flex;
                    flex-direction: column;
                    gap:32px;
                    .Text2 {
                        display: block;
                        width: 626px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .contentSection2 {
        z-index: 3;
        width: 100%;
        height: 212px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .Main{
            width: 1220px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            overflow: hidden;
            .Left{
                width: 460px;
                
            }
    
            .Right{
                display: flex;
                flex-direction: column;
                gap: 32px;
                .RightText{
    
                    width: 560px;
                    opacity: 1;
                    transition: opacity 0.5s ease-in-out;
                
                }
                .RightText.hidden {
                    opacity: 0;
                    z-index: -1;
                }
            }
        }
    }

    .contentSection3 {
        z-index: 3;
        height: 447px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        h2{
            text-align: center;
            width: 100%;
            margin-bottom: 80px;
        }
        .Main{
            width: 1160px;
            display: flex;
            justify-content: space-between;
            .Side{
                width: 300px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 32px;
            }
            .Center{
                display: flex;
                width: auto;
                justify-content: center;
                align-items: center;
            }

        }
    }

    .contentSection4 {
        z-index: 3;
        width: 100%;
        height: 122px;
        display: flex;
        align-items: center;
        justify-content: center;
        .Main{
            width: 1220px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .Partners{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 70.78px;
                width: 632.51px;
                img{
                    width: auto;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .contentSection5 {
        z-index: 3;
        width: 100%;
        height: 519px;
        display: flex;
        justify-content: center;
        .Main{
            width: 1220px;
            display: flex;
            position: relative;
            align-items: center;
            .Left{
                display: flex;
                flex-direction: column;
                gap: 80px;
                
                .Text{
                    width: 497px;
                    display: flex;
                    gap: 32px;
                    flex-direction: column;
                    span{
                        width: 473px;
                        height: 76px;
                    }
                    .Punkts{
                        div{
                            display: flex;
                            gap: 20px;
                        }
                    }
                }
                
            }

        }
        img{
            width: auto;
            height: 482px;
            position: absolute;
            right: -30px;
        }
    }

    .contentSection6{
        width: 1220px;
        height: 333px;
        display:flex;
        justify-content: center;
        .Section{
            width: 1160px;
            display: flex;
            flex-direction: column;
            gap: 64px;
            .BackFormVidget{
                display: flex;
                flex-direction: row;
                gap: 40px;
                .Left{
                    width: 560px;
                }
                .Right{
                    display: flex;
                    flex-direction: column;
                    gap: 48px;
                    width: 560px;
                    height: 216px;
                    .PDN{
                        display: flex;
                        width: 560px;
                        span{
                            width: 438px;
                            margin-left: 5px;
                            a{
                                color: @Black
                            }
                            
                        }
                        .CheckBox{
                            padding-top: 2px;
                        }
                    }

                    .button{
                        width: 100%;
                    }
                }

            }
        }
    }
}



@media screen and (max-width: 1220px) {
    .MainPage {
        .BG {
            height: 810.44px;
            top: -112.72px;
            gap: 0;
            top: 0;
            img {
                width: 1460px;
                opacity: 1;

            }
        }
        .contentSection {
            padding-top: 80px;
            .Main {
                width: 688px;
                .Text2 {
                    width: 393px;
                }
                .button {
                    width: 100%;
                }
            }
        }

        .contentSection2{
            padding-top: 120px;  
            padding-bottom: 30px;
            height: 128px;
            .Main{
                width: 688px;
                .Left {
                    width: 275px;
                }
                .Right {
                    width: 334px;
                    .RightText{
                        width: 334px;
                    }
                }
            }
        }
    }
}


