.MainPageBox{
    background-color: @Gray03;
    margin: 0 10px;
    width: 100%;
    min-width: 412px;
    height: 3392px;
    overflow: hidden;
    .BG{
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 801px;
        top:67px;
        overflow: hidden;

        img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        user-select: none;
        opacity: 0.6;
        }
    }
    .BG-rect{
        z-index: 1;
        position: absolute;
        left: 0;
        background-color: @Gray04;
        width: 100%;
        height: 647px;
    }
    .one{
        top: 1110px;
    }
    .two{
        top: 2074px;
    }
}

.MainPage {
    width: 100%;
    top: 32px;
    height: 3148px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 180px;
    overflow: hidden;
    .contentSection {
        z-index: 4;
        width: 100%; 
        margin-top: 200px;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        .Main {
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 1220px;
            margin: 0 30px;
            .TextBtn {
                width: 100%;
                height: 440px;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 80px;
                .Text{
                    display: flex;
                    flex-direction: column;
                    gap:32px;
                    .Text2 {
                        display: block;
                        width: 626px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .contentSection2 {
        margin:  0 30px;
        z-index: 3;
        width: 100%;
        height: 212px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .Main{
            margin: 0 30px;
            width: 100%;
            max-width: 1160px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            overflow: hidden;
            .Left{
                width: 460px;
                
            }
    
            .Right{
                display: flex;
                flex-direction: column;
                min-height: 188px;
                gap: 32px;
                .RightText{
                    width: 560px;
                    opacity: 1;
                    transition: opacity 0.5s ease-in-out;
                
                }
                .RightText.hidden {
                    opacity: 0;
                    z-index: -1;
                }
            }
        }
    }

    .contentSection3 {
        z-index: 3;
        height: 447px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 80px;
        h2{
            text-align: center;
            width: 100%;
        }
        .Main{
            width: 100%;
            max-width: 1160px;
            display: flex;
            justify-content: space-around;
            .Side{
                box-sizing: border-box;
                width: 300px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 32px;
            }
            .Center{
                display: flex;
                width: auto;
                justify-content: center;
                align-items: center;
            }

        }
    }

    .contentSection4 {
        z-index: 3;
        width: 100%;
        height: 122px;
        display: flex;
        align-items: center;
        justify-content: center;
        .Main{
            margin: 0 30px;
            width: 100%;
            max-width: 1220px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .Partners{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 70.78px;
                width: 632.51px;
                img{
                    height: 100%;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .contentSection5 {
        z-index: 3;
        width: 100%;
        height: 519px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
        .Main{
            margin:  0 30px;
            width: 100%;
            max-width: 1220px;
            display: flex;
            position: relative;
            align-items: center;
            .Left{
                display: flex;
                flex-direction: column;
                gap: 80px;
                
                .Text{
                    width: 497px;
                    display: flex;
                    gap: 32px;
                    flex-direction: column;
                    span{
                        width: 473px;
                    }
                    .Punkts{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .Punkt{
                            display: flex;
                            width: 100%;
                            gap: 20px;
                        }
                    }
                }
                
            }

        }
        img{
            width: auto;
            height: 482px;
            position: absolute;
            right: -30px;
        }
    }

    .contentSection6{
        z-index: 3;
        width: 100%;
        height: 333px;
        display:flex;
        justify-content: center;
        .Section{
            margin:  0 30px;
            width: 100%;
            max-width: 1160px;
            display: flex;
            flex-direction: column;
            gap: 64px;
            .BackFormVidget{
                display: flex;
                flex-direction: row;
                gap: 40px;
                .Left{
                    width: 560px;
                }
                .Right{
                    display: flex;
                    flex-direction: column;
                    gap: 48px;
                    width: 560px;
                    height: 216px;
                    .PDN{
                        display: flex;
                        width: 560px;
                        span{
                            width: 438px;
                            margin-left: 5px;
                            a{
                                color: @Black
                            }
                            
                        }
                        .CheckBox{
                            padding-top: 2px;
                        }
                    }

                    .button{
                        width: 100%;
                    }
                }

            }
        }
    }
}



@media screen and (max-width: 1220px) {
    .MainPageBox{
        height: 2541px;

        .BG {
            height: 810.44px;
            top: -112.72px;
            top: 0;
            img {
                width: 1460px;
                opacity: 1;

            }
        }
        .BG-rect{
            z-index: 1;
            position: absolute;
            left: 0;
            background-color: @Gray04;
            width: 100%;
            height: 471px;
        }
        .one{
            top: 771px;
        }
        .two{
            top: 1421px;
        }

        .MainPage {
            height: 2474px;
            gap: 120px;
            .contentSection {
                margin-top: 157px;
                .Main {
                    .TextBtn{
                        max-width: 688px;
                        height: 314px;
                        gap: 60px;
                        .Text{
                            .Text2{
                                width: 393px;
                            }
                        }
                        .button{
                            width: 100%;
                        }
                    }
                }
            }
            .contentSection2{
                height: 128px;
                .Main{
                    height: 100%;
                    width: 688px;
                    .Left {
                        width: 275px;
                        height: 136px;
                    }
                    .Right {
                        width: 334px;
                        gap: 16px;
                        .RightText{
                            width: 334px;
                        }
                    }
                }
            }

            .contentSection3{
                height: 317px;
                width: 688px;
                gap: 60px;
                h2{
                    width: 512px;
                    height: 68px;
                }
                .Main{
                    width: 688px;
                    .Side{
                        width: 216px;
                        height: 189px;
                        padding: 24px;
                        .H3{
                            width: 153px;
                        }

                    }
                    .Center{
                    }
                }
            }

            .contentSection4{
                height: 60px;
                .Main{
                    width: 688px;
                    .Left{
                        width: 150px;
                    }
                    .Partners{
                        width: 433.51px;
                        height: 48.51px;
                    }
                }

            }

            .contentSection5{
                height: 353px;
                .Main{
                    width: 688px;
                    .Left{
                        gap: 32px;
                        .Text{
                            gap: 32px;
                            span{
                                width: 260px;
                            }
                            .Punkts{
                                height: 139px;
                                .Punkt{
                                    gap: 16px;
                                    width: 334px;
                                    svg{
                                        width: 24px;
                                        height: 24px;
                                    }
                                    span{
                                        width: 100%;
                                    
                                    }
                                }
                            }
                        }
                    }
                }
                img{
                    height: 266px;
                }
            }
            .contentSection6{
                height: 550px;
                .Section{
                    gap: 32px;
                    width: 100%;
                    max-width: 688px;
                    .BackFormVidget{
                        flex-direction: column;
                        .Left{
                            width: 100%;
                        }
                        .Right{
                            width: 100%;
                            .PDN{
                                width: 100%;
                                span{
                                    width: 100%;
                                }
                            }
                            .button{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}


