.MenuBox{
    top: 0;
    right: 0;
    z-index: 100;
    position: fixed;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    transition: 0.3s;
    transform: translateX(100%);
    .ShadowClose{
        position: fixed;
        top:0;
        right:0;
        width: 100vw;
        height: 100vh;
        z-index: 101
    }
    .Menu{
        z-index: 102;
        opacity: 1;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 283px;
        height: 100%;
        background-color: @White;
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    
        .MenuItemBox{
            user-select: none;
            width: 100%;
            height: 88px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: left;
            .menu-item{
                padding: 10px 10px 10px 32px;
            }
        }
    
        .CloseBox{
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: start;
            .Logo{
                display: none;
            }
        }
    }
}

.active{
    transform: translateX(0);
}



@media screen and (max-width: 515px) {
.MenuBox{
    .Menu{
        padding: 0;
        max-width: 515px;
        height: 100vh;
        flex-direction: column-reverse;
        justify-content: start;
        gap: 33%;
        .MenuItemBox{
            padding-left: 30px;
        }
        .CloseBox{
            width: 100%;
            height: 65px;
            padding: 0;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            .Close {
                margin: 0 15px 0 0;
                svg{
                    width: 32px;
                    height: 32px;
                }
            }
            .Logo{
                margin-top: 1px;
                height: 25px;
                display: block;
                svg{
                    width: 113px;
                    height: 28.07px;
                }
            }
        }
    }
}

}